body {
  margin: 0;
  font-family: Menlo, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: Menlo;
  src: local("Menlo"), url(/src//Assets/Fonts/Menlo-Bold.ttf);
}
